@using System.Web.UI.WebControls.WebParts
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    @Styles.Render("~/Content/css")

</head>

<body>
    <div>
        @RenderBody()
        
        <footer>
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>UTN - FRT &copy; @DateTime.Now.Year </span>
                </div>
            </div>
        </footer>
    </div>
    

@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
