@model drugstore_003.Models.VentaCLS
@{
    Layout = null;
}

<h2>Reporte</h2>

<div>
    <h4>Ventas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>
            idProducto
        </th>
        <th>
            Descripcion
        </th>
        <th>
            precio
        </th>
        <th>
            cantidad
        </th>
        <th>
            subtotal
        </th>
        <th></th>
    </tr>


    @*@foreach (var item in Model.LineaVentas)
    {
        <tr>
            <td>
                @item.idProducto
            </td>
            <td>
                @item.descripcion
            </td>
            <td>
                @item.precio
            </td>
            <td>
                @item.cantidad
            </td>
            <td>
                @item.subtotal
            </td>

        </tr>
    }*@

</table>