@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


@Html.ActionLink("Empleados", "Index", "Empleadoes")<br />
@Html.ActionLink("Familiar", "Index", "Familiars")<br />
@Html.ActionLink("Usuarios", "Index", "Usuarios")<br />
@Html.ActionLink("Ventas", "Index", "Ventas")<br />
@Html.ActionLink("Compras", "Index", "Compras")<br />
@Html.ActionLink("Concepto", "Index", "Conceptoes")<br />
@Html.ActionLink("Detalle de liquidacion", "Index", "DetalleLiquidacions")<br />
@Html.ActionLink("Direcciones", "Index", "Direccions")<br />
@Html.ActionLink("Linea de compras", "Index", "LineaCompras")<br />
@Html.ActionLink("Linea de ventas", "Index", "LineaVentas")<br />
@Html.ActionLink("Liquidacion", "Index", "Liquidacions")<br />
@Html.ActionLink("Localidades", "Index", "Localidads")<br />
@Html.ActionLink("Productos", "Index", "Productoes")<br />
@Html.ActionLink("Proveedores", "Index", "Proveedors")<br />
@Html.ActionLink("Provincias", "Index", "Provincias")<br />