@model drugstore_003.Models.Compras

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedors.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedors.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.usuario1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.usuario1)
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>id Prod.</th>
        <th>descripcion</th>
        <th>cantidad</th>
        <th>precio</th>
        <th>subtotal</th>
    </tr>

    @foreach (var detalle in ViewBag.ListaDetalle)
    {
        <tr>
            <td>@detalle.idProducto</td>
            <td>@detalle.descripcion</td>
            <td>@detalle.cantidad</td>
            <td>@detalle.precioCompra</td>
            <td>@detalle.subtotal</td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCompra }) |
    @Html.ActionLink("Regresar", "Index")
</p>
