@model drugstore_003.Models.LineaVentas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LineaVentas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Productoes.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productoes.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ventas.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ventas.total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idLineaVenta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
